<ion-header hidenav-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="'..'"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Example 1
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content hidenav-tabscontent>
  <super-tabs>
    <super-tabs-toolbar slot="top">
      <super-tab-button>
        <ion-icon name="list"></ion-icon>
        <ion-label>Feed</ion-label>
      </super-tab-button>
      <super-tab-button>
        <ion-icon name="person"></ion-icon>
        <ion-label>Profile</ion-label>
      </super-tab-button>
      <super-tab-button>
        <ion-icon name="contacts"></ion-icon>
        <ion-label>Contacts</ion-label>
      </super-tab-button>
    </super-tabs-toolbar>
    <super-tabs-container>
      <super-tab>
        <ion-content hidenav-content hidenav-tabspage>
          <ion-refresher slot="fixed">
            <ion-refresher-content
                    pullingIcon="arrow-dropdown"
                    pullingText="Pull to refresh"
                    refreshingSpinner="circles"
                    refreshingText="Refreshing...">
            </ion-refresher-content>
          </ion-refresher>
          <ion-card>
            <img src="assets/madison.jpg">
            <ion-card-header class="hydrated">
              <ion-card-subtitle role="heading" aria-level="3" class="hydrated">Destination</ion-card-subtitle>
              <ion-card-title role="heading" aria-level="2" class="hydrated">Madison, WI</ion-card-title>
            </ion-card-header>
            <ion-card-content class="card-content card-content-ios hydrated">
              Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
            </ion-card-content>
          </ion-card>
          <ion-card>
            <img src="assets/madison.jpg">
            <ion-card-header class="hydrated">
              <ion-card-subtitle role="heading" aria-level="3" class="hydrated">Destination</ion-card-subtitle>
              <ion-card-title role="heading" aria-level="2" class="hydrated">Madison, WI</ion-card-title>
            </ion-card-header>
            <ion-card-content class="card-content card-content-ios hydrated">
              Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
            </ion-card-content>
          </ion-card>
        </ion-content>
      </super-tab>
      <super-tab>
        <ion-nav [root]="profilePage"></ion-nav>
      </super-tab>
      <super-tab>
        <ion-nav [root]="contactsPage"></ion-nav>
      </super-tab>
    </super-tabs-container>
  </super-tabs>
</ion-content>
