<hidenav-stretchheader hidenav-sh-header="main" no-border="true">
  <div #static>
    <ion-toolbar [routerLink]="'/home/'" color="white" style="font-size: 46px"><ion-icon style="color: white;" name="arrow-round-back"></ion-icon></ion-toolbar>
  </div>
  <div #static #hossi style="width: 100%;" (click)="expand()">
    <label style="left: 60px; top: 115px; position: relative; color: white; font-size: 20px; font-weight: bold;">Moving Title</label>
  </div>
  <div #shrinkexpand header-height="50" style="background: darkblue; color: gold" opacity-factor="7" opacity-color="black" (click)="expand()" init-expanded="true">
    <table width="100%">
      <tr>
        <td>TEST</td>
        <td>TEST</td>
        <td>TEST</td>
        <td>TEST</td>
      </tr>
      <tr>
        <td>TEST</td>
        <td>TEST</td>
        <td>TEST</td>
        <td>TEST</td>
      </tr>
      <tr>
        <td>TEST</td>
        <td>TEST</td>
        <td>TEST</td>
        <td>TEST</td>
      </tr>
      <tr>
        <td>TEST</td>
        <td>TEST</td>
        <td>TEST</td>
        <td>TEST</td>
      </tr>
      <tr>
        <td>TEST</td>
        <td>TEST</td>
        <td>TEST</td>
        <td>TEST</td>
      </tr>
      <tr>
        <td>TEST</td>
        <td>TEST</td>
        <td>TEST</td>
        <td>TEST</td>
      </tr>
      <tr>
        <td>TEST</td>
        <td>TEST</td>
        <td>TEST</td>
        <td>TEST</td>
      </tr>
      <tr>
        <td>TEST</td>
        <td>TEST</td>
        <td>TEST</td>
        <td>TEST</td>
      </tr>
    </table>
  </div>
  <!--ion-header #shrinkexpand header-height="50" style="background: wheat" opacity-factor="3" opacity-color="#3880ff">
    <ion-grid no-padding>
      <ion-row>
        <ion-col>TEST</ion-col>
        <ion-col>TEST</ion-col>
        <ion-col>TEST</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>TEST</ion-col>
        <ion-col>TEST</ion-col>
        <ion-col>TEST</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>TEST</ion-col>
        <ion-col>TEST</ion-col>
        <ion-col>TEST</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>TEST</ion-col>
        <ion-col>TEST</ion-col>
        <ion-col>TEST</ion-col>
      </ion-row>
    </ion-grid>
  </ion-header-->
  <!--ion-header #shrink>
    <ion-toolbar>
      <ion-title>home3</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-header #expand style="height: 220px;">
    <div style="width: 100%; position: relative; height: 220px; z-index: 1">
      <table style="width: 100%; height: 100%" width="100%">
        <tr>
          <td>
            <div style="width: 100%; height: 100%; background: #0ec254"></div>
          </td>
          <td>
            <div style="width: 100%; height: 100%; background: blueviolet"></div>
          </td>
        </tr>
        <tr>
          <td>
            <div style="width: 100%; height: 100%; background: blueviolet"></div>
          </td>
          <td>
            <div style="width: 100%; height: 100%; background: #0ec254"></div>
          </td>
        </tr>
      </table>
    </div>
  </ion-header-->
</hidenav-stretchheader>

<ion-content padding hidenav-sh-content="main">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <p>THE WORLD IS YOUR OYSTER</p>
  <p>THE WORLD IS YOUR OYSTER</p>
  <p>THE WORLD IS YOUR OYSTER</p>
  <p>THE WORLD IS YOUR OYSTER</p>
  <p>THE WORLD IS YOUR OYSTER</p>
  <p>THE WORLD IS YOUR OYSTER</p>
  <p>THE WORLD IS YOUR OYSTER</p>
  <p>THE WORLD IS YOUR OYSTER</p>
  <p>THE WORLD IS YOUR OYSTER</p>

</ion-content>
