<hidenav-stretchheader header-height="50" opacity-factor="7" opacity-color="black" init-expanded="false">
  <div #static>
    <ion-toolbar [routerLink]="'..'" color="white" style="font-size: 46px"><ion-icon style="color: white;" name="arrow-round-back"></ion-icon></ion-toolbar>
  </div>
  <div #static #title style="width: 100%;" (click)="expand()">
    <label style="left: 60px; top: 15px; position: relative; color: white; font-size: 20px; font-weight: bold;">Moving Title</label>
  </div>
  <div #shrinkexpand style="background: white; color: gold; height: 250px" (click)="expand()">
    <img src="assets/cat.jpg" width="100%" alt="">
  </div>
</hidenav-stretchheader>

<ion-content padding hidenav-sh-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <img src="assets/cat2.jpg">
    <ion-card-header class="hydrated">
      <ion-card-subtitle role="heading" aria-level="3" class="hydrated">Destination</ion-card-subtitle>
      <ion-card-title role="heading" aria-level="2" class="hydrated">Madison, WI</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-content card-content-ios hydrated">
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/cat3.jpg">
    <ion-card-header class="hydrated">
      <ion-card-subtitle role="heading" aria-level="3" class="hydrated">Destination</ion-card-subtitle>
      <ion-card-title role="heading" aria-level="2" class="hydrated">Madison, WI</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-content card-content-ios hydrated">
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>

</ion-content>
