<ion-header>
  <ion-toolbar>
    <ion-title>main</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" [routerLink]="['/home1']">Hide Navbar / Simple Page</ion-button>
  <ion-button expand="full" [routerLink]="['/home2']">Stretch Header / Simple Page</ion-button>
  <ion-button expand="full" [routerLink]="['/home3']">Hide Navbar / Supertabs Page</ion-button>
  <ion-button expand="full" [routerLink]="['/home4']">Stretch Header/ Supertabs Page</ion-button>
</ion-content>
